TicTacToe/Move.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ticTacToeMove">
        <xs:complexType>
        	<xs:sequence>
                <xs:element name="movePlayer" maxOccurs="1" minOccurs="1">
                	<xs:complexType>
                		<xs:sequence>
                			<xs:element name="move" type="xs:string"></xs:element>
                		</xs:sequence>
                	</xs:complexType></xs:element>
            </xs:sequence>
        </xs:complexType>
	</xs:element>
</xs:schema>


